<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Resturant</a></div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/">Receitas</a></li>
                <li><a href="/">Categorias</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
            <a href="#" class="action-btn">Login</a>
        </div>
    </header>

    <h1 class="titulo">CATEGORIAS</h1>

    <section class="flex">
    <div class="img1">
        <a href="#"><img src="/imagem1.jpg"></a>
        <p><a href="#">Sobremesas</a></p>
    </div>
    <div class="img2">
        <a href="#"><img src="/imagem2.jpg"></a>
        <p><a href="#">Bebidas</a></p>
    </div>
    <div class="img3">
        <a href="#"><img src="/imagem3.jpg"></a>
        <p><a href="#">Hamburguers</a></p>
    </div>
    <div class="img4">
        <a href="#"><img src="/imagem4.jpg"></a>
        <p><a href="#">Saladas</a></p>
    </div>  
    <div class="img5">
        <a href="#"><img src="/imagem5.jpg"></a>
        <p><a href="#">Pratos</a></p>
    </div>
    <div class="img6">
        <a href="#"><img src="/imagem6.jpg"></a>
        <p><a href="#">Massas</a></p>
    </div>
    </section>

    <footer>
        <div id="footer-content">
            <div id="footer-contact">
                <h1>Logo</h1>
                <p>Frase</p>
                
                <div id="footer-social-media">

                </div>
            </div>
        </div>
    </footer>
</body>
</html>